<div class="ui segment">
    <div class="ui secondary menu">
        <div class="right menu">
            <button onclick="updateButton(this, '0xLD')" class="ui blue button"> <i
                    class="icon sync"></i>Why are you thinking just lock his device.. [Hacker wasi ]</button>
        </div>
    </div>
</div>
